.services {
    margin-bottom: 134px;
}

.services__list {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.services__img-whrapper{
    max-width: 1150px;
    height: 200px
}

.services__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.services__title {

    max-width: 403px;
}

.services__list-cardimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services__list-card:nth-last-child(1) {
    margin-bottom: 0;
}

.services__list-card-title {
    max-width: 340px;
    color: #1BFF07;
}

.services__list-card-content {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-between;
    padding: 40px 45px 65px 40px;
    background-color: #191C19;
    border-radius: 30px;
}

.services__list-card-text {
    max-width: 525px;
    font-size: 22px;
    line-height: 28.6px;
    letter-spacing: -0.03em;
    color: white;

}



@media (max-width: 960px) {

    .services {
        margin-bottom: 110px;
    }

    .services__list {
        margin-top: 60px;
        gap: 32px;
    }



    .services__img-whrapper {

        height: 162px;
    }

    .services__title {

        max-width: 326px;
    }

    .services__list-cardimg {

        height: 229px;

    }

    .services__list-card-content {
        padding: 32px 36px 55px 32px;
    }

    .services__list-card-text {
        max-width: 425px;
        font-size: 18px;
        line-height: 23.4px;

    }

}



@media (max-width: 639px) {


    .services {
        margin-bottom: 100px;
    }

    .services__list {
        margin-top: 56px;
        gap: 32px;
    }

    .services__list-card {
        margin-bottom: 60px;
    }

    .services__img-whrapper {

        height: 225px;
    }

    .services__list-cardimg {

        height: 397px;

    }

    .services__list-card-content {
        padding: 30px 23px 67px 21px;
        gap: 15px;
        flex-direction: column;
    }


}
