@import url(../styles/header.css);
@import url(../styles/projects.css);
@import url(../styles/skill.css);
@import url(../styles/service.css);
@import url(../styles/contacts.css);
@import url(../styles/footer.css);

html {
    scroll-behavior: smooth;
}

body {
    font-family: "IBM Plex Mono", monospace;
    background-color: black;
}

.body_fixed {
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
    padding: 0 15px;
}

h1 {
    max-width: 919px;
    font-size: 80px;
    line-height: 70px;
    letter-spacing: -0.03em;
    color: #1BFF07;
}

h2 {

    font-size: 55px;
    line-height: 71.5px;
    letter-spacing: -0.03em;
    color: white;
}

h3 {
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: -0.03em;
    color: white;
}


@media (max-width: 960px) {

    h2 {
        font-size: 45px;
        line-height: 58.5px;
    }

    h3 {
        font-size: 28px;
        line-height: 36.4px;
        
    }

}

@media (max-width: 639px) {

        .container {
        margin: 0 ;

    }

    h2 {
        max-width: 268px;
        font-size: 30px;
        line-height: 39px;
    }

    h3 {
        font-size: 28px;
        line-height: 36.4px; 
    }




}
