html {
    scroll-behavior: smooth;
}



body {
    font-family: "IBM Plex Mono", monospace;
    background-color: black;
}

header {
    width: 100%;
    height: 765px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./resources/main.png)
}

footer {
    margin: 0 auto;
    width: 1400px;
    font-family: "Manrope";
    background-color: white;
    border-radius: 30px 30px 0 0;

}

.nav {
    margin: 0 auto;
    width: 1400px;
    padding: 33px 125px 0 125px;
}

.logo-link {
    width: 130px;
    height: 39px;
    display: inline-block;
}

.menu {
    margin-top: 1px;
    float: right;
}

.menu-link {
    margin-right: 50px;
    display: inline block;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    letter-spacing: -0.03em;
    color: white;
    text-decoration: none;
}

.menu-link:nth-child(4) {
    margin-right: 0;
}

.menu-link:hover {
    color: #1BFF07;
}

.main-titl {
    margin-bottom: 30px;
    padding-top: 259px;
    width: 430px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.03em;
    text-align: left;
    color: white;
}

h1 {
    width: 919px;
    font-size: 80px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #1BFF07;
}

.proje—Åts {
    margin: 0 auto;
    padding: 150px 125px 0 125px;
    width: 1400px;
}

h2 {
    margin-bottom: 40px;
    font-size: 55px;
    font-weight: 400;
    line-height: 71.5px;
    letter-spacing: -0.03em;
    text-align: left;
    color: white;

}

.project-realhome {
    width: 1150px;
    height: 550px;
    border-radius: 30px 0px 0px 0px;
    position: relative;
    background-image: url(./resources/news1.png);
}

.project-glass {
    width: 1150px;
    height: 550px;
    border-radius: 30px 0px 0px 0px;
    position: relative;
    background-image: url(./resources/news2.png);
}

.project-fesiyen {
    width: 1150px;
    height: 550px;
    border-radius: 30px 0px 0px 0px;
    position: relative;
    background-image: url(./resources/news3.png);
}


.project-titl {
    font-size: 35px;
    font-weight: 400;
    bottom: 94px;
    left: 50px;
    position: absolute;
    line-height: 45.5px;
    letter-spacing: -0.03em;
    text-align: left;
    color: white;
}

.project-text {
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    bottom: 50px;
    left: 50px;
    line-height: 39px;
    letter-spacing: -0.03em;
    text-align: left;
    color: white;

}

.projects-btn {
    margin-top: 80px;
    width: 582px;
    height: 153px;
    display: inline-block;
    background-color: #1BFF07;
    border-radius: 10px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    line-height: 153px;
    letter-spacing: -0.03em;
    text-align: center;
    color: black;
}

.projects-btn:hover {
    background-color: black;
    border: 1px solid #1BFF07;
    color: #1BFF07;
}

.competencies {
    margin: 0 auto;
    padding: 150px 125px 0 125px;
    width: 1400px;
}

.skill {
    margin-bottom: 60px;
}

.skill:nth-child(5) {
    margin-bottom: 150px;
}

.skill-titl {
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #1BFF07;
}

.skill-img {
    margin-bottom: 12px;

    width: 45px;
    height: 44px;
}

.skill-text {
    margin-top: 15px;
    width: 778px;
    font-size: 22px;
    font-weight: 400;
    line-height: 28.6px;
    letter-spacing: -0.03em;
    text-align: left;
    color: white;

}

.tasks {
    margin: 0 auto;
    padding: 0 125px 0 125px;
    width: 1400px;
}

.task {
    padding-top: 74px;
}

.task:nth-child(1) {
    padding-top: 0;
}


.tasks-titl {
    margin-bottom: 74px;
    width: 403px;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: -0.03em;
    text-align: left;
    color: white;
}

.task-card {
    width: 1150px;
    height: 283px;
    background-color: #191C19;
    border-radius: 30px;

}

.task-titl {
    margin-bottom: 15px;
    padding: 40px 0 0 40px;
    color: #1BFF07;

}

.task-text {
    width: 755px;
    padding-left: 40px;
    font-size: 22px;
    font-weight: 400;
    line-height: 28.6px;
    letter-spacing: -0.03em;
    text-align: left;
    color: white;
}

.contakts {
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 1400px;
    height: 717px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./resources/programmer.png);
}

.container-contakts {
    margin: 0 auto;
    width: 1400px;
    padding: 0 125px 0 125px;
}

.contakts-titl {
    padding-top: 320px;
    font-size: 35px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-align: left;
    color: white;
}

.social {
    margin-top: 28px;
}

.social-link {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-align: left;
    text-decoration: none;
    color: white;

}

.soc {
    margin-bottom: 20px;
}

.soc:nth-child(3) {
    margin-bottom: 0;
}

.social-link:hover {
    color: #1BFF07;
}

.footer-inner {
    margin: 0 auto;
    width: 1400px;
    padding: 76px 125px 24px 125px;
}

.footer-title {
    margin-bottom: 66px;
    font-size: 22px;
    font-weight: 400;
    line-height: 30.05px;
    letter-spacing: -0.03em;
    text-align: left;
    color: black;

}

.footer-text{
font-size: 20px;
font-weight: 400;
line-height: 27.32px;
letter-spacing: -0.03em;
text-align: left;
color: black;
opacity: 50%;
}
